name: Release

on:
  release:
    types: [created]

jobs:
  release:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: clink
            asset_name: clink-linux
          - os: macos-latest
            artifact_name: clink
            asset_name: clink-macos
          - os: windows-latest
            artifact_name: clink.exe
            asset_name: clink-windows.exe
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: stable         
      - name: Dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install libxkbcommon-dev libxcb-shape0-dev libxcb-xfixes0-dev
      - name: Build project
        run: cargo build --release --locked
      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}